extends layout

block content
  form(method="post", action="/schedules")
    div
      h5 予定名
      input(type="text" name="scheduleName")
    div
      h5 メモ
      input(type="text" name="memo")
    div
      h5 候補日 (改行して複数行入力してください)
      textarea(name="candidates", cols="30", rows="10")
    button(type="submit") 予定を作る